<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="app/tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="ChatApp Test Suite">
            <directory>./app/tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>

    <!-- Optional: Set environment variables -->
    <php>
        <env name="ENVIRONMENT" value="testing" />
    </php>
</phpunit>
