/* Landing Page */

.landing {
  height: 100vh;
  width: 100vw;
}

.landing .header{
  margin-top: 5rem;
}

/* header */

.landing .header {
  height: 25vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing .logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.landing .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.landing .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: logo-spin infinite 20s linear;
  }
}

/* body */

.landing .card {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing .card > * {
  margin-top: 1rem;
}
